*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.faq{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5px;
  margin: 2px auto;
  border: solid 1px grey;
  font-size: 16px;
  min-width: 800px;
  position: relative;
}
.btn{
  font-size: 35px;
  position: absolute;
  right: 10px;
  border: 0px solid gray;
  
}
.inner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px
}
.label{
 
   font-size: 35px;
 
  
  
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  margin: 40px auto;
  border: solid 2px black;
  max-width: 70%;
  
}