*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  gap: 5px;

}
.box {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 22px;
}
