.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  gap:5px
}
.input {
  width: 50px;
  height: 50px;

  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  overflow: hidden;

  caret-color: black;
  
}

.input:focus {
  outline: 2px solid blue;
  
}
