*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.labelContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:30px
}

/* Whole step block */
.step {
  display: flex;
  align-items: flex-start;
  position: relative;
  
 
 
  /* space for next step */
}

/* Circle */
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  color: orange;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text */
.text {
  margin-left: 10px;

  font-size: 16px;
}

/* Line */
.line {
  position: absolute;

  left: 14px;      /* half of circle width */
  top: 30px;       /* exactly circle height */

  width: 2px;
   height: 30px;  
  background: lightgray;
}
.btn{
width: 50px;
height: 25px;
border-radius: 1px;
border: 1px solid black;
padding: 2px;

}
.active{
  background-color: orange;
}
