.container {
  position: relative;
  width: 500px;
  margin: auto;
}

img {
  width: 100%;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.prev { left: 0; }
.next { right: 0; }
