*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  
width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  gap:10px;
  align-items: center;

}
.input{
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  
  
 
}
.list{
  display: flex;
  gap: 3px;
  padding: 5px;
  flex-direction: column;
  background-color: gray;
  border: 1px solid purple;
  justify-content: center;
 
}