.container{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap:10px;
  justify-content: center;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 2px solid black;
  align-items: center;
  
}
span{
  font-size: larger;
  color: brown;

}
.task{
  width: 80%;
  height: 30px;
  text-align: center;
  padding: auto;
  margin: 5px;
  border: 1px solid black;
  cursor: move;
  
}